<header class="profile-header mt-30">
  <div class="profile-meta">
    <div class="profile-meta-group">
		  <div class="profile-image">
			  <img src="<%= user_avatar_src @user %>">
			</div>
			<div class="profile-headings">
			  <div class="profile-heading-group">
				  <span class="header-h1 mb-0">
					  <%= @user.name_or_username %>
					</span>

          <%= follow_button if signed_in? and current_user != @user %>
				</div><!-- close profile-heading-group -->
        <div class='profile-meta-stats'>
          <span class='la la-trophy fontSize-18'></span> <span class='fontSize-16 headerFont'><%=@user.reputation%></span>
        </div>

        <p class="profile-about bodyFont fontSize-16" itemprop="about">
				  Binyamin Appelbaum is a Washington correspondent who covers the Federal Reserve and other aspects of economic policy. He writes about policy debates, economic trends and the impact of government policy on American life.
				</p>
      </div><!-- close profile-headings -->
    </div>
	</div>
</header>
