<!-- ========== Hero Cover ========== -->

<div id="home" class="landing-hero fw-video-hero">

  <!-- Video Background -->
  <div id="fw-video-one-bg" class="player" 
       data-property="{videoURL:'https://www.youtube.com/watch?v=PIpUk-3GO_g',containment:'.fw-video-hero',autoPlay:true, mute:true, startAt:0, opacity:1}">
  </div>

  <div class="bg-overlay">
                            
    <!-- Hero Content -->
    <div class="hero-wrapper">
      <div class="hero-content">
        <div class="container">
          <div class="row">

            <!-- Heading -->
            <div class="col-md-5 heading-wrapper wow fadeInLeft" data-wow-duration="1.5s">
              <h1 class="lead">Reach the top</h1>
              <h4 class="h-alt subheading">Catchy Subheading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita neque praesentium eum earum aperiam quas impedit commodi hic, architecto, error, quae. Commodi, similique! Voluptatum iste necessitatibus eum aut temporibus, alias!</p>
              <a href="#features" class="cta-btn">Learn more</a>
            </div>

            <!-- Signup Form -->
            <div class="col-md-offset-3 col-md-4 form-wrapper wow fadeInRight" data-wow-duration="1.5s">
              <form action="post" class="form-group">
                <input class="form-control" type="text" placeholder="Full Name">
                <input class="form-control" type="password" placeholder="Password">
                <input class="form-control" type="email" placeholder="Email">
                <input class="btn-ghost-light" type="submit" value="Start free trial">
              </form>
            </div>

          </div><!-- / .row -->
        </div><!-- / .container --> 
      </div>
    </div>
            
  </div><!-- / .bg-overlay -->
</div><!-- / .fs-video-hero -->
