 $comment = $(".bp-comment-reply[data-comment-id='<%=@comment.id%>']");
<% if !@comment.nil? and !@comment.errors.any? %>
  console.log("<%=@comment.content%>");
	$comment.find('.comment-actions').show();
	$comment.find('.vote-container').show();
  $comment.find('.comment-content:hidden').html("<%=@comment.content%>").show();

  $comment.find('form.comment-edit-form').next('.commentPreview').remove();
  $comment.find('form.comment-edit-form').remove();
 
  $('#flash-message-wrapper').remove();
  $('body').append("<div id='flash-message-wrapper' class='notice '><p>Comment was successfully updated.</p></div>");

  setTimeout(function() {
    $('#flash-message-wrapper').fadeOut("slow", function() {
      $(this).remove();
    });
  }, 5000);

  setTimeout(function() {
	  MathJax.Hub.Queue(["Typeset", MathJax.Hub, $comment.find('.comment-content')[0]]);
  } ,500);


<% else %>
  $input = $comment.find(".comment-edit-form textarea");
  addInputError($input[0]);
  addInputErrorMsg($input[0], "<%= @comment.errors.full_messages.join(". ") %>");
<% end %>
