<h1> Can't find what you're looking for? </h1>

<p>
  If you have a question, need more information, are experiencing an error, 
  or want to report a security vulnerabilty, please 
  <%= link_to "contact us directly", contact_path %>.
</p>

