<h1> What is reputation and how do I earn it? </h1>

<p>
  Reputation is a rough measure of how much the community trusts you, and it 
	is earned by convincing users that you know what you are talking about. 
	The more reputation you earn the more 
	<%= link_to "privileges", 
	            help_center_category_path('privileges'), 
							class: 'accentLink' %> you gain and the more you can do on 
	the site. It is set up this way because we believe in the wisdom of our 
	users so we want them to run the site as a collective community.
</p>

<h3>How to earn reputation</h3>
</hr>

<p>
  As mentioned before, the primary way to earn reputation is by convincing 
	people that you know what you are talking about. This is primarily done by 
	writing good problems and proofs. Votes on these posts can make 
	you either gain or lose reputation.
</p>

<h3>Ways to gain reputation:</h3>
<hr>

<ul>
  <li>Problem is voted up: +5</li>
  <li>Proof is voted up: +10</li>
  <li>Comment is voted up: +1</li>
</ul>

<h3>Ways to lose reputation:</h3>
<hr>

<ul>
  <li>Problem is voted down: -2</li>
  <li>Proof is voted down: -2</li>
  <li>Comment is voted down: -1</li>
  <li>You vote down a proof or a problem: -1</li>
</ul>

<p>
  All users start with 0 reputation and it can never drop below 0. 
	Deleting a post will not affect the scores of the authors and people 
	involved. When a user reverses a vote, the corresponding reputation loss or 
	gain will be reverted as well. Note that a user cannot vote on his or 
	her own post.
</p>
 
