<div class="col-md-12 col-xl-3">
  <div class="advanced-stat-card advanced-mini-stat">
    <div class="advanced-mini-stat-icon text-right" style="background-color: <%=reputation_color @user.reputation %>">
      <i class="fa fa-trophy" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), <%=reputation_color @user.reputation %>);"></i>
    </div>
    <div class="text-center" style="padding: 1.5rem;">
      <h6 style="text-transform: uppercase; margin-bottom: 1rem; font-weight: 600; font-size: 1em; color: #666;">Reputation</h6>
            <h4 class="mb-0 font-weight-600" style="font-size: 1.5em;">34578
        <small style="margin-left: .5rem;">
          <i class="fa fa-arrow-up" style="color: #59ceb5;"></i>
        </small>
      </h4>
    </div>
  </div>
</div>
