<!-- Tags - Widget -->
<div class="col-md-12 ws-s browse-users-widget primary-card mb-20">
  <h5 class="header-widget font-weight-600">Check out other Users</h5>
  <div class="text-center">
    <%= link_to users_path do %>
      <button class="btn-ghost"><span class="fa fa-users"></span> Browse Users</button>
    <% end %>
  </div>
</div>

