<div class='row'>
  <div class='col-md-12'>
    <div class='contact-us-widget'>
      <div class='contact-us-widget-content'>
        <h5 class='headerFont'>Can't find what you're looking for?</h5>
				
				<h4 class='headerFont'>We'd love to hear from you</h4>
				<%= link_to contact_path do %>
          <button class='btn'>Contact us</button>
				<% end %>
			</div>
		</div>
	</div>
</div>
