<!-- Sidebar Footer -->
<div class='row'>
  <div class='col-md-12 footerWidget marginAuto'>
    <div class='footerWidgetContent'>
      <ul class='footerWidgetLinks text-center'>
        <li><%= link_to "About", about_path, class: 'headerFont underlineLink' %></li>
        <li><%= link_to "Tour", tour_path, class: 'headerFont underlineLink' %></li>
        <li><%= link_to "Help", help_path, class: 'headerFont underlineLink' %></li>
        <li><%= link_to "Contact Us", contact_path, class: 'headerFont underlineLink' %></li>
			</ul>
		</div>
	</div>
</div>
