<!-- Tags - Widget -->
<div class="col-md-12 ws-s new-topic-widget primary-card mb-20">
  <h5 class="header-widget font-weight-600">Can't Find a Topic?</h5>
  <div class="text-center">
    <%= link_to new_topic_path do %>
      <button class="btn-ghost"><span class="glyphicon glyphicon-plus"></span> Add Topic</button>
    <% end %>
  </div>
</div>

