<!-- Popular Problems- Widget -->
<div class="col-md-12 ws-s popular-problems-widget primary-card mb-20">
	<h5 class="header-widget font-weight-600 mb-0">Popular Problems</h5>

	<!-- Item 1 -->
	<div class="widget-item">
    <%= problems_widget_items %>
	</div>
</div><!-- / .recent-posts-widget -->

