<div class="col-lg-12">
  <div class="stat-card pull-up">
    <div class="stat-card-content">
      <div class="stat-card-body">
        <div class="d-flex">
          <div class="d-flex-body text-left">
            <%= stat_widget_text stat %>
            <h3 id="<%=stat.downcase%>-stat-val"><%= value %></h3>
          </div>
          <div class="align-self-center">
            <i class="fa <%= icon %> float-right" style='font-size: 2.1em;'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
