<div class="topic-meta-widget">
	<h2 class="noWrapWithEllipsis headerFont darkType fontWeight-600 fontSize-28" title='<%=@topic.name%>'><%=@topic.name.titleize%></h2>
	<div class="mt-20">
	  <button class="btn btn-ghost">
		  Following
		</button>
	</div>

	<div class='mt-20'>
    <span class='headerFont lightType fontSize-16'>
      Follow to get problems and proofs about <%= @topic.name.titleize %> in your
			homepage
		</span>
	</div>
</div>
