<h1> How do I find problems that I am interested in? </h1>

<p>
  The primary way that you will find problems you are interested in is 
	through your problem feed.
</p>

<h3> What shows up in my feed? </h3>
<hr>

<ul>
  <li>
    Problems within topics that you follow will show up in your feed. 
		It is important that you follow topics that you are interested in, so 
		that your feed can be tailored towards you.
	</li>

	<li> 
	  Problems created by users that you follow will show up in your feed.
	</li>

	<li>
	  Bookmarked problems will also show up in your feed whenever 
		they are updated or a proof is added.
	</li>
</ul>

<h3> Search for specific problems </h3>
<hr>

<p>
  If you want to browse and search from all problems that contain some phrase 
  or word, you can do so <%= link_to "here", 
	                           problems_path, 
														 class: 'accentLink' %>. 
  You can refine your search by filtering problems with proofs or ones 
	that don't have any yet. You can also sort based on date created or 
	modified, problems with most upvotes or problems with most proofs.
</p>

