<div class="boxedtitle add-problem-title mb-40"><h2>Description</h2></div>
<!-- Blog Post -->
<div class="col-md-12 blog-post-single wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
          
  <!-- Title -->
  <h2 class="post-title font-weight-600 pt-20 problem-desc mb-30 "><%= @topic.name %></h2>
          
  <div class="mb-40 mt-20 blog-post-content">
    <%= sanitize @topic.description %>

    <%= report_button @topic %>
    <% if signed_in? %>
      <%= link_to edit_topic_path(@topic.id), class: 'btn-text btn-small, float-right small-padding mr-5' do %>
        <span class="proof-edit"><i class="mr-5 glyphicon glyphicon-edit"></i>Edit</span>
      <% end %>
    <% end %>
  </div>
</div><!-- / .blog-post-single -->
