$('#topic-follow-<%=@topic.id%>').html("<a href='<%=topic_unfollow_path(@topic.id)%>' data-remote='true' data-method='delete'><button class='btn btn-light'>Following</button></a>");

$('#topic-<%=@topic.id%>-followers').text('<%= pluralize(@topic.followers.count, "Follower") %>');
