<% if @followers.count > 0 %>
  $('.tab-content .tab-list-content').html("<%= escape_javascript render(:partial => '/activities/user_item', collection: @followers, as: :model ) %>");
<% else %>
  $(".tab-content .tab-list-content").html("<%= no_results_content('users') %>");
<% end %>

$('.tab-content .tab-list-content').prepend("<div class='boxedtitle add-problem-title mb-40'><h2>Followers (<%=@followers.count%>)</h2></div>");

