<div class="section container-fluid blog-classic">
  <div class="row">
    <div class="col-md-12">
      <div class="mh-auto ft-tabs">
        <div class="row">
            
          <%= render 'shared/main_site_tabs' %>

          <!-- Tabs Content -->
          <div class="col-lg-8 no-gap tab-content">

            <!-- Tab Content 1 -->
            <div class="tab-pane fade active in">
              <div class="col-md-12 tab-content-text page-content pt-0">
                <div class="tab-list-content">
                  <div class="row">
                    <button class="btn-text font-weight-600" id='filter-btn'><span class="glyphicon glyphicon-filter"></span> Filter</button>
                  </div>

                  <div class="mt-20" id="topic-feed">
                    <%= render(:partial => 'shared/items/topic_item', locals: { topics_count: @topics.count }, collection: @topics, as: :topic) %>
                  </div>
                </div>
              </div>
            </div><!-- / #tab1 -->
          </div><!-- / .col-lg-10 -->
        </div><!-- / .row -->
      </div>

    </div>
  </div>
</div>
