<!-- Categories - Widget -->
<div class="col-md-12 ws-s hot-topics-widget primary-card mb-20">
	<h5 class="header-widget font-weight-600 mb-0">Hot Topics</h5>
  <div class="widget-item">
    <%= hot_topics_items %>
  </div>
</div><!-- / .categories-widget -->

