<!-- ========== Sidebar ========== -->

<aside class="col-lg-3 sidebar mb-sm-160 ph-30"> 

  <%= render 'shared/sidebars/topics_widget' %>
  <%= render 'shared/sidebars/popular_problems_widget' %>	
  <%= render 'shared/sidebars/hot_topics_widget' %> 
  <%= render 'shared/sidebars/top_users' %>
	
	<!-- Comments - Widget -->
	<div class="col-md-12 ws-s comments-widget">
		<h5 class="header-widget">Comments</h5>

		<!-- Item 1 -->
		<div class="widget-item">
			<span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
		</div>

		<!-- Item 2 -->
		<div class="widget-item">
			<span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
		</div>

		<!-- Item 3 -->
		<div class="widget-item">
			<span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
		</div>

		<!-- Item 4 -->
		<div class="widget-item">
			<span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
		</div>
						
	</div><!-- / .comments-widget -->


	<!-- Text - Widget -->
	<div class="col-md-12 text-widget">
		<h5 class="header-widget">Text Widget</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui error, incidunt quia pariatur facere quasi totam inventore amet rerum.</p>
	</div><!-- / .text-widget -->
</aside><!-- / .sidebar -->
