<!-- Highest Points - Widget -->
<div class="col-md-12 ws-s highest-points-widget primary-card mb-20">
  <h5 class="header-widget font-weight-600 ">Top Users</h5>
  <ul>
	  <%= top_users_items %>
  </ul>
</div><!-- / .highest points - widget -->

