<!-- Tags - Widget -->
<div class="col-md-12 ws-s tags-widget">
	<h5 class="header-widget">Topics Following <span class="grey-link float-right glyphicon glyphicon-pencil" id= "edit-followed-topics" title="Edit Topics Following"></span></h5>
  <div class="tag-list-container">
	  <ul class="tag-list">
      <% current_user.topics_following.each do |topic| %>
		    <li><a href="/topics/<%=topic.id%>" data-id="<%=topic.id%>" class="arial-ff" style="padding: .4em .5em; line-height: 1; text-transform: lowercase; font-size: 12px;" ><%=topic.name%></a></li>
      <% end %>
	  </ul>
  </div>
</div><!-- / .tags-widget -->

