<!-- Post -->
<div class="col-md-12">
  <div class="blog-post wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
        
    <div class="bp-content">
                         
      <!-- Meta data -->
      <div class="post-meta">
        <div class="post-date float-left">
          <i class="fa fa-calendar-o"></i>
          <span>August 01.2015</span>
        </div>
        <div class="voting-meta">
          <span class="single-problem-vote-result">+22</span>
          <ul class="single-problem-vote">
            <li><a href="#" class="single-problem-vote-down" title="Dislike"><i class="pa-2 glyphicon glyphicon-thumbs-down"></i></a></li>
            <li><a href="#" class="single-problem-vote-up" title="Like"><i class="pa-2 glyphicon glyphicon-thumbs-up"></i></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
              
      </div><!-- / .meta -->

      <!-- Post Title -->
      <a href="#" class="post-title"><h3>Blog Post Title</h3></a>

      <!-- Blurb -->
      <p class="problem-desc">Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>
      <div class="problem-details">
        <span class="problem-answered problem-answered-done"><i class="mr-5 glyphicon glyphicon-ok"></i>solved</span>
      </div>
      <span class="problem-comment"><i class="glyphicon glyphicon-comment mr-5"></i>5 Answer</span>
      <span class="problem-view"><i class="glyphicon glyphicon-eye-open mr-5"></i>70 views</span>
      <div class="clearfix"></div>
      <!-- Problem topics -->
      <ul class="tag-list mt-20">
        <li><a href="#">Photography</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Development</a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#">UI/UX</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">HTML5</a></li>
        <li><a href="#">CSS3</a></li>
        <li><a href="#">iOS</a></li>
      </ul> <!-- / .tag-list -->
 
    </div><!-- / .bp-content -->
  </div><!-- / .blog-post -->
</div><!-- / .col-md-12 -->

