$('#problem-bookmark-<%=@problem.id%>').html("<a href='<%=problem_unbookmark_path(@problem.id)%>' data-remote='true' class ='greyLink headerFont' data-method='delete' title='Unbookmark problem'><i class='fa fa-bookmark'</i></a>");
