<%= render 'shared/no_privilige_modal' %>
<%= render 'layouts/sticky_nav' %>
<%= render 'layouts/featured_header' %>

<div class="container blog-classic">
<!--
  <div class="row">
    <div class='col-lg-offset-1'>
      <button class="btn-text font-weight-600" id='filter-btn' style='margin-left: -29px;'><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>

  <div class="row" id="item-filters" style="display: none;" data-filter="all" data-sorter="updated_at">
    <div class="col-md-12">
      <div class="col-md-6">
        <p>Filter:</p>
        <ul id="pfolio-filters" class="portfolio-filters filter">
          <li class="active"><a href="#" title="All problems" data-filter="all">All</a></li>
          <li class=""><a href="#" title="Problems with proofs" data-filter="proved">Proved</a></li>
          <li class=""><a href="#" title="Problems that are not proved" data-filter="not_proved">Not Proved</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <p>Sort:</p>
        <ul id="pfolio-filters" class="portfolio-filters sorter">
          <li class="active"><a href="#" title="Recent problems" data-sorter="created_at">New</a></li>
          <li class=""><a href="#" title="Most upvoted problems" data-sorter="cached_votes_score">Top</a></li>
          <li class=""><a href="#" title="Problems with most proofs" data-sorter="cached_proofs_count">Hot</a></li>
        </ul>
      </div>
    </div>
  </div>
-->


  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10">
      <div class="row" style='padding: 16px 15px;'>
        <div id="problem-feed">
          <% @problems.each_with_index do |problem, index| %>
            <%= render(:partial => 'problems/stream_item', locals: { problem: problem }) %>
            <%# if index % 2 == 1 or index == @problems.count - 1 %>
              <!--<div class="clearfix"></div>-->
            <%# end %>
          <% end %>
        </div>
      </div><!-- / .row -->
    </div><!-- / .col-lg-8 -->

<!--
    <aside class='col-md-4 sidebar' style='padding: 16px 15px;'>
		  <%#= render 'shared/sidebars/widgets/popular_problems_widget' %>
      <%# if signed_in? and current_user.topics_following.count > 0 %>
        <%#= render 'shared/sidebars/widgets/topics_widget' %>
      <%# end %>
      <%# if current_user.bookmarked_problems.count > 0 %>
        <#%= render '/shared/sidebars/widgets/followed_problems_widget' %>
      <%# end %>
      <%#= render 'shared/sidebars/widgets/footer' %>
    </aside>
-->
  </div>
</div>
