<% if @problems.count > 0 %>
  <% @problems.each_with_index do |problem, index| %>
    $('#problem-feed').append("<%= escape_javascript render(:partial => '/shared/items/problem_item', locals: { problem: problem }) %>");

    <% if index % 2 == 1 or index == @problems.count - 1 %>
      $('#problem-feed').append("<div class='clearfix'></div>");
    <% end %>
  <% end %>
<% end %>

$('#problems-stat-val').text("<%=@problems.count%>");
$('#proofs-stat-val').text("<%=@problems.pluck(:cached_proofs_count).sum%>");

