<div class='problemContent'>
  <% if !@problem.image.file.nil? and @problem.image_height >= 500 %>
    <%= render 'problems/fancy_header' %>
    <div class='problemContainer'>
      <%= render 'problems/content' %>
    </div>
  <% else %>
    <section class='problemSection'>
      <%= render 'problems/header' %>
			<div class='problemContainer'>
        <%= render 'problems/content' %>
		  </div>
    </section>
  <% end %>
</div>

