$('#problem-bookmark-<%=@problem.id%>').html("<a href='<%=problem_bookmark_path(@problem.id)%>' class='greyLink headerFont' data-remote='true' data-method='post' title='Bookmark problem'><i class='fa fa-bookmark-o'></i></a>");
