<h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 50</h3>
<p class='reg-p'>Comments can be left on problems or proofs. They can be voted on and flagged. Users whose comment is voted on recieve +2 reputation and -1 reputation for upvotes and downvotes respectively. If a comment receives a voting score of -5 or if it receives at least 3 reports, it will be taken down. There is no revision history for comments, and when they are deleted they are gone permanently.</p>
<p class='reg-p'>Note that you can always comment in your own problems and proofs. However, commenting on another user's post requires at least 50 reputation.</p>
<h3>How do I comment?</h3>
<p class='reg-p'>Simply click on the "add comment" button under a problem or proof to leave a comment. Note that comments do not use our text editor and so you cannot format comments as with other types of posts. Math can still be rendered as usual with <%= link_to "Mathjax", "#mathjax-faq", easing: "linear" %></p>
<h3>What happens after I comment?</h3>
<p class='reg-p'>The following users will be notified after commenting on a post:</p>
<ul>
  <li class='reg-item'>The author of the post you are commenting on.</li>
  <li class='reg-item'>Users who have edited the post you are commenting on.</li>
  <li class='reg-item'>All other users who have also commented on the post.</li>
</ul>
<h3>When should I comment on a post?</h3>
<p class='reg-p'>The following are good reasons to comment on a post:</p>
<ul>
  <li class='reg-item'>To add relevant and minor details or information to a post (e.g. a link to background information or further reading, or a link to a related problem).</li>
  <li class='reg-item'>To clarify or request clarification on a post.</li>
  <li class='reg-item'>To provide constructive criticism to guide the author on improving the post.</li>
</ul>
<h3>When should I not comment on a post?</h3>
<p class='reg-p'>The following are bad reasons to comment on a post:</p>
<ul>
  <li class='reg-item'>Proving a problem or offering an alternative solution; instead post a proof or expand and edit an existing one.</li>
  <li class='reg-item'>Compliments that do not improve or add new information to the post. Instead, show your appreciation of the post by upvoting it.</li>
  <li class='reg-item'>Secondary discussion or debate that is not relevant to the post.</li>
</ul>

