<h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 200</h3>
<p class='reg-p'>Downvotes is how users indicate which posts are least useful.</p>
<h3>When should I downvote?</h3>
<p class='reg-p'>Downvote posts that are exceptionally poor and sloppy, or proofs that are clearly incorrect and promote misinformation.</p>
<p class='reg-p'>Downvoting costs you a reputation point per downvote; use theme sparingly and wisely.</p>
<h3>How do I downvote?</h3>
<p class='reg-p'>Each problem, proof and comment contains an upvote (up arrow) and downvote (down arrow) button. Simply click on the down arrow to downvote a post. You can undo a downvote by clicking on the up arrow.</p>
<h3>What happens after I Downvote?</h3>
<p class='reg-p'>Downvoting posts move it down the feed so that fewer people see it. Voting a post down should not be taken lightly.</p>
<ul>
  <li class='reg-item'>Downvoting a proof or problem costs the voter 1 reputation point.</li> 
  <li class='reg-item'>Downvoting a proof costs the owner of the post 2 reputation points. A proof with a score of -4 or less will be put in the review queue (look at <%= link_to "post deletion", "#post-deletion-faq", easing: "linear" %>).</li>
  <li class='reg-item'>Downvoting a problem costs the owner of the post 2 reputation points. A problem with a negative voting score and with no proofs after 60+ days will automatically be deleted by the system. A problem with a voting score of -6 will be put in the review queue (look at <%= link_to "post deletion", "#post-deletion-faq", easing: "linear" %>).</li>
  <li class='reg-item'>Downvoting a comment is free. A comment with a voting score of -5 will automatically be deleted.</li>
</ul>
<h3>Alternatives to downvoting</h3>
<p class='reg-p'>Downvoting should only be reserved for extreme cases. It should not be a substitute for an edit or comment. Here are some alternatives to downvotes:</p>
<ul>
  <li class='reg-item'>If the post is spam, offensive, a duplicate or just egregiously incorrect, report it.</li> 
  <li class='reg-item'>Write a comment to provide constructive criticism or to add relevant information.</li>
  <li class='reg-item'>Correct the post by editing it.</li>
</ul>

