<h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 700</h3>
<p class=reg-p'>Reporting is a way to bring innapropriate content to the attention of moderators and trusted users, so that they can determine the fate of the post.</p>
<p class='reg-p'> The following are the currently implemented flag types that you can report: </p>
<ul>
  <li class='reg-item'><b>Spam</b>.</li> 
  <li class='reg-item'><b>offensive</b>.</li>
  <li class='reg-item'><b>Not a proof</b> (proofs only).</li>
  <li class='reg-item'><b>Duplicate</b> (problems only).</li>
  <li class='reg-item'><b>vague or unclear</b> (problems only).</li>
  <li class='reg-item'><b>Not a proof problem</b> (problems only).</li>
  <li class='reg-item'><b>Low quality</b> (i.e. post is very hard to understand, little thought was put into it, editing can not salvage the post).</li>
  <li class='reg-item'><b>Other</b></li>
</ul>
<h3>How do I report a Post?</h3>
<p class='reg-item'>Click on the report link under a post and you will see a pop-up modal with a list of report options similar to the ones above.</p>
<h3>What happens after I report something as spam or offensive?</h3>
<p class='reg-p'>The system is designed to automatically delete inappropriate posts that are reported as spam or offensive by the community.</p>
<ul>
  <li class='reg-item'>If a problem or proof receives 6 or more spam or offensive reports, the post will automatically be deleted and the owner will lose 100 reputation.</p>
</ul>
<h3>What happens after I report a comment?</h3>
<p class='reg-p'>Reporting a comment will bring the comment to the attention of the moderators. In addition, comments that have 3 or more reports will automatically be deleted.</p>
<h3>What happens to reports?</h3>
<p class='reg-p'>Most reports are handled by trusted members of the community who have earned <%= link_to "review", "#review-priv-faq", easing: "linear" %> priviliges. Moderators and trusted users will review every report and make an effort to improve the post, provide criticism and suggestions to the owner of the post so that they can resolve the issue, or they can put the post in the review queue where posts can be salvaged or deleted.</p>
<p class='reg-p'>Posts in the review queue are handled by moderators and users with <%= link_to "deletion priviliges", "#deletion-priv-faq", easing: "linear" %>. Here, posts are reviewed thoroughly and an effort is made to edit the post and to mark it as OK if it can be improved, otherwise they are deleted. If the post manages to get out of the review queue, the reports expire and its voting score stays the same (a secondary score will be kept from the moment it is taken out of the review queue, and if this score falls below a -3, it will automatically be deleted). If the post receives 3 or more reports after being released from review queue, it will automatically be deleted.</p>
	
