<h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 10</h3>
<p class='reg-p'>Voting up is an essential part of the the site's operating system. It lets users know which posts are most useful, relevant and appropriate. </p>
<h3>When should I upvote?</h3>
<p class='reg-p'>You should upvote a post whenever you find a problem, proof or comment that you feel is well written and especially useful.</p>
<h3>How do I upvote?</h3>
<p class='reg-p'>Each problem, proof and comment contains an upvote (up arrow) and downvote (down arrow) button. Simply click on the up arrow to upvote a post. You can undo an upvote by clicking on the down arrow.</p>
<h3>What happens after I upvote?</h3>
<ul>
  <li class='reg-item'>Problems move up in the feed when they are sorted by 'top'.</li>
	<li class='reg-item'>Upvotes on a problem gives the author +5 reputation points.</li>
	<li class='reg-item'>Upvotes on a proof gives the author +10 reputation points.</li>
	<li class='reg-item'>Upvotes on a comment gives the author +2 reputation points.</li>
</ul>

<p class='reg-p'>In general, upvoted posts are seen by more people.

