<div id="notifications-page" class="section container-fluid blog-classic">
  <div class="row">
    <!-- ========== Blog Posts ========== -->

    <div class="col-lg-offset-1 col-lg-6 main-content ft-cards">
      <div class="row">
        <button class="btn-text font-weight-600" id='filter-btn' style="margin-bottom: 10px; margin-left: 10px;"><span class="glyphicon glyphicon-filter"></span> Filter</button>
      </div>
      <div class="row" id="item-filters" style="display: none;" data-filter="all" data-sorter="created_at" data-search-filter="">
        <div class="col-md-12">
          <div class="col-md-12">
            <p>Filter:</p>
            <ul id="pfolio-filters" class="portfolio-filters filter">
              <li class=""><a href="#" title="Notifications within the past day" data-filter="day">Past Day</a></li>
              <li class=""><a href="#" title="Notifications within the past week" data-filter="week">Past Week</a></li>
              <li class=""><a href="#" title="Notifications within the past month" data-filter="month">Past Month</a></li>
              <li class=""><a href="#" title="Notifications within the past year" data-filter="year">Past Year</a></li>
              <li class="active"><a href="#" title="All notifications" data-filter="all">All</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mt-20" id="notifications-feed" %> 
        <% @notifications.each_with_index do |notification, index| %>
          <%= render(:partial => 'notifications/feed_item/', locals: { notification: notification, index: index + 1 }) %>
        <% end %>

        <% if @notifications.count == 0 %>
          <div class="no-results-container">
            <img src="/assets/no_notifications_icon.png" alt="conversations icon">
		        <h3 class="font-weight-600">You have no notifications.</h3>
	        </div>
        <% end %>
      </div><!-- /#notifications-feed -->
    </div><!-- / .col-md-8 -->

    <!-- ========== Sidebar ========== -->
    <%= render "/shared/sidebars/notifications_sidebar" %>



  </div>
</div>
