<p class='reg-p'>Each user has a colored badge that serves as a sort of rank, and determines the level of trust he or she has earned based on his or her reputation score. This color badge appears on the user's standard card and provides a quick visual representation of the user's trustworthiness and site prestige.</p>
<p class='reg-p'>The following are the badges along with the corresponding reputation level needed to earn you that badge:</p>
<div class="row">
  <div class="col-xs-6 col-sm-4">
    <p class="badge-label" style="background-color: #373940;"><span class="fa fa-trophy mr-5"></span> 0</p>
  </div>
  <div class="col-xs-6 col-sm-4">
    <p class="badge-label" style="background-color: #ff7361;"><span class="fa fa-trophy mr-5"></span> 10</p>
  </div>
  <div class="col-xs-6 col-sm-4">
    <p class="badge-label" style="background-color: #2E8B57;"><span class="fa fa-trophy mr-5"></span> 200</p>
  </div>
  <div class="col-xs-6 col-sm-4">
    <p class="badge-label" style="background-color: #1e73be;"><span class="fa fa-trophy mr-5"></span> 1000</p>
  </div>
  <div class="col-xs-6 col-sm-4">
    <p class="badge-label" style="background-color: #544f87;"><span class="fa fa-trophy mr-5"></span> 5000</p>
  </div>
  <div class="col-xs-6 col-sm-4">
    <p class="badge-label" style="background-color: #dd9934;"><span class="fa fa-trophy mr-5"></span> 25000</p>
  </div>
</div>
