<p class='reg-p'>Trusted users with at least 3000 reputation can create new topics. You should only create a new topic when you are sure that your problem covers a new topic and no one else has asked about before. As a general rule, you should avoid creating new topics if possible.</p>
<h3>How do I create a new topic?</h3>
<p class='reg-p'>If you are a trusted member then a link to create a new topic will appear on your homepage sidebar. When creating the topic, bear in mind that topic names must not be longer than 35 characters, and can only use the following chacter set: <code>a-z</code>, <code>0-9</code>, <code>+</code>, <code>#</code>, <code>-</code>, <code>.</code>. You must provide a description of the topic as well.</p>
<h3>What happens after a new topic is created?</h3>
<p class='reg-p'>The new topic will now be available for all other users to use and follow. If they are not used by any questions in a 4 month period, the topic will be removed.</p>
<p class='reg-p'>Please create topics responsibly!</p>

