<p class='reg-p'>This site is a collaborative effort. If you see a problem or topic that needs improvement, click edit!<p>
<p class='reg-p'>We believe that the collective wisdom of users ensures the quality of posts. Editing is important for keeping problems and topics clear, grammatically correct and relevant.<p>
<h3>When to edit posts</h3>
<p class='reg-p'> Whenever you see a post that can be improved, it is ecouraged to edit it. Edits are expected to leave the post better than how you found it. Here are some reasons for edits: </p>
<ul>
  <li class='reg-item'>To improve spelling, grammar or punctuation</li>
  <li class='reg-item'>To clarify the meaning of the post. It is important not to change the intended meaning of the poster.</li>
  <li class='reg-item'>To include important information that is found in the comments. Sometimes additional information or a clarification arises in the comments. It is better to keep all of the relevant information in one place.</li>
  <li class='reg-item'>To correct a mistake or error made</li>
  <li class='reg-item'>To add citations, links or resources</li>
</ul>
<h3>Who can edit posts?</h3>
<p class='reg-p'>Only trusted members of the community can edit posts. You need at least 2500 reputation points to edit problems and proofs, and at least 3000 reputation to edit topics. The creator of the post can always edit their own post, regardless of their reputation.</p>
<h3>What happens after I edit a post?</h3>
<p class='reg-p'>The post will update to show the latest editor as well as the original creator. All edits are saved and tracked in the posts version history. Each version will be viewable along with the editor in the post's log. Editing a post will bump it to the top of the feed.</p>
<h3>What if the edit was bad?</h3>
<p class='reg-p'>Common users can report edits. If the latest edit gets 5 or more reports then the latest version will be reverted to its previous version and the edit will disappear from the log. Trusted users with at least 5000 reputation, and original authors can rollback edits automatically.</p>

