<p class='reg-p'> We are happy to have you here. Here are a few guidelines you should follow.</p>
<h3>Be polite.</h3>
<p class='reg-p'>We are all here to learn together. Whether you are posting a problem, or sharing what you know, remember to always be nice and welcoming.</p>
<h3>Be honest.</h3>
<p class='reg-p'>Don't be afraid to speak up. If you see a bad problem or misinformation, vote it down and comment what is specifically wrong. If you have the reputation, we encourage you to <%= link_to "edit and improve", editing_posts_path %> when it is necessary. Doing these things will help keep the integrity and knowledge of the site.</p>
<h3>Avoid self-promotion.</h3>
<p class='reg-p'>This site is not about promoting your products or websites. We encorage users to vote-down overt self-promotion and will take down any posts we see fit.</p>
<h3>Don't use greetings or signatures.</h3>
<p class='reg-p'>Posts are already marked with your user card that links to your profile page. Introducing yourself or writing taglines only brings unnecessary noise to your posts.</p>

