<p class='reg-p'>Improve your chances of getting a proof by writing good problems.</p>
<p class='reg-p'>Make sure your problem is not a duplicate and is different from the rest. <%= link_to "Search", problems_path %>, research and keep track of what you find. You can link problems that have not helped you so that others can better understand your question and make sure it is not repeated.</p>
<h3>Write a title that summarizes the problem</h3>
<p class='reg-p'>The title is the first thing that users will see, and if it is not good, people will lose interest and won't read the rest. Here are some tips for making a good title:</p>
<ul>
  <li class='reg-item'>Sum up your entire problem in one sentence. Include details that will help people identify and solve your problem. Iclude any constraints or variants to your problem that make it different from similar problems already on the site.</li>
  <li class='reg-item'>Spelling, grammar and punctuation are important! Make sure you proof-read it or have someone proof-read it for you if your english is not good.</li>
  <li class='reg-item'>Write the title last if you are having trouble summarizing the problem. Sometimes writing the problem first can make it easier for you to describe the problem.</li>
</ul>
<h3>Include relevant tags</h3>
<p class='reg-p'>Make sure that the tags you submit are relevant to the problem by reading their descriptions. The system will suggest topics that match what you have typed. See also: <%= link_to "What are tags/topics and how do I use them?", on_topics_path %></p>
<h3>Proof-read before posting</h3>
<p class='reg-p'>Read the problem from start to finish and make sure everything is clear and makes since. Add any details you missed and read through it again. Before posting, if you wrote the title first, read it again and make sure it still describes the problem.</p>
<h3>Make sure the problem is to prove a mathematical statement</h3>
<p class='reg-p'>The purpose of this site is not to solve computational problems and make calculations: it is about the conscious understanding of abstract mathematical truth, and why it is true. Forget about calculating, and ask questions like why a particular statement is true or false, and why a certain pattern exists.</p>
<h3>Respond to feedback after posting problem</h3>
<p class='reg-p'>After posting your problem, frequently check on it to see if anyone comments on it. If you missed a piece of information or made an error in your problem, be ready to edit your problem and fix it. If someone posts a proof, be ready to provide feedback.</p>

