<p class='reg-p'>Reputation is a rough measure of how much the community trusts you, and it is earned by convincing users that you know what you are talking about. The more reputation you earn the more <%= link_to "priviliges", priviliges_path(1) %> you gain and the more you can do on the site. It is set up this way because we believe in the wisdom of our users so we want them to run the site as a collective community.</p>
<h3>How to earn reputation</h3>
<p class='reg-p'>As mentioned before, the primary way to earn reputation is by convincing people that you know what you are talking about. This is primarily done by writing good problems and proofs. Votes on these posts can make you either gain or lose reputation.</p>
<h4>Ways to gain reputation:</h4>
<ul>
  <li class='reg-item'>Problem is voted up: +5</li>
  <li class='reg-item'>Proof is voted up: +10</li>
  <li class='reg-item'>Comment is voted up: +2</li>
</ul>
<h4>Ways to lose reputation:</h4>
<ul>
  <li class='reg-item'>Problem is voted down: -2</li>
  <li class='reg-item'>Proof is voted down: -2</li>
  <li class='reg-item'>Comment is voted down: -1</li>
  <li class='reg-item'>You vote down a post: -1</li>
</ul>
<p class='reg-p'> All users start with 0 reputation and it can never drop below 0. Deleting a post will not affect the scores of the authors and people involved. When a user reverses a vote, the corresponding reputation loss or gain will be reverted as well. Note that a user cannot vote on his or her own post.</p>
 
