<div class='wideContainer' id='account-edit'>
  <div class='row'>
    <div class='col-md-3 account-settings-sidebar pr-30'>
      <ul class='fontSize-18 headerFont fontWeight-400' id='account-settings-tabs'>
        <li><span class='fontWeight-600 fontSize-22 darkType' style='cursor: text;'>Settings</span></li>
        <li class="<%= 'active' if current_page?(edit_user_path(@user))%>" data-section='profile'>
          <span>Edit Profile</span>
        </li>

        <!-- Tab 2 -->
        <li class="<%= 'active' if current_page?(edit_user_registration_path)%>" data-section='password'>
          <span>Change Password</span>
        </li>
			</ul>
		</div>
		<div class='col-md-8 col-sm-offset-1 col-sm-10'>
      <header class='account-heading headerFont darkType' data-section='profile'>
        <h2>Update your profile</h2>
			</header>

			<%= render partial: "users/edit", locals: { :@user => @user } %>
			<%= render partial: "devise/registrations/edit", locals: { :@user => @user } %>
		</div>
	</div>
</div>

