$('.tab-content .boxedtitle h2').text("Following");
$('.tab-content .tab-list-content').append("<section class='ft-boxed-hover' id='user-items'><div class='row'><ul></ul></div></section>");

<% @users.each do |user| %>
  $('.tab-content .tab-list-content ul').append("<%= escape_javascript render(:partial => '/shared/items/user_item', locals: { user: user }) %>");
<% end %>

$('.spinner').slideUp(1000);
