$('.tab-content .boxedtitle h2').text("Problem Edits");
$('.tab-content .tab-list-content').empty();
$('.tab-content .tab-list-content').html("<div class='accordions-1'></div>");
$('.tab-content .tab-list-content .accordions-1').html("<%= escape_javascript render(:partial => '/activities/version', collection:  @versions, as: :model ) %>");
