$('#user-follow-<%=@user.id%>').html("<a class='' href='<%=follow_user_path(@user.id)%>' data-remote='true' data-method='post'><button class='btn btn-ghost btn-small'>Follow</button></a>");

$('#user-<%=@user.id%>-followers').text('<%= pluralize(@user.followers.count, "Follower") %>');
