<% if flash.present? %>
  <div id="flash-message-wrapper" class="<%= flash_class %>">
    <p><%= flash_message %></p>
  </div>
<% end %>

<script>
  setTimeout(function() {
    $('#flash-message-wrapper').fadeOut("slow", function() {
      $(this).remove();
    });
  }, 7500);
</script>
<!--
<%# if flash.present? %>
  <script>
    // toastr flash messages
  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-left",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "8000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "slideDown",
    "hideMethod": "slideUp"
  }

  </script>
 
  <div id='flash'>
   <script> 
     <%# if flash[:success] %>
       var $toastContent = $('<span><%#= flash[:success] %></span>');
       toastr.success($toastContent)
     <%# end %>
     <%# if flash[:notice] %>
       var $toastContent = $('<span><%#= flash[:notice] %></span>');
       toastr.info($toastContent)
     <%# end %>
     <%# if flash[:error] %>
       var $toastContent = $('<span><%#= flash[:error] %></span>');
       toastr.error($toastContent)
     <%# end %>
     <%# if flash[:alert] %>
       var $toastContent = $('<span><%#= flash[:alert] %></span>');
       toastr.warning($toastContent)
     <%# end %> 

   </script>
  </div>
<%# end %>
-->
