<!-- General Preview -->
<div class="bp-comment mb-100 pa-20 generalPreview postPreview" style='border:1px solid rgba(0,0,0,0.14);'> 

  <div class='fancyCaption'>
    <p class='mb-10 fontSize-13 headerFont fontWeight-700 float-left'><i class='fa fa-eye mr-5'></i>Content preview</p>

    <div class="float-right mt-0 fontSize-18" title='Close preview'>
      <i class='fa fa-times close' style='color: rgba(0,0,0,0.84); cursor: pointer;'></i>
	  </div>
		<div class='clearfix'></div>
  </div>
 
                  
  <div class="comment-content mt-20 darkType bodyFont bodyStyles general-preview-content">
    {{html content}}
  </div>	
</div> <!-- bp-comment -->
