<div class="dropdown-container">
  <div class="dropdown-toolbar">
    <div class="dropdown-toolbar-actions">
      <% if current_user.unread_messages.count > 0 %>
        <%= link_to "Mark all as read", mark_all_as_read_messages_path, method: :post, remote: true, class: "mark-all-as-read-link" %>
      <% end %>
    </div>
    <span class="dropdown-toolbar-title">Messages (<%=current_user.unread_messages.count%>)</span>
    <div class="clearfix"></div>
  </div><!-- /dropdown-toolbar -->

  <ul class="dropdown-menu-notifications">
  </ul>
  <% if current_user.mailbox.conversations.count == 0 %>
    <div class="no-messages-container">
      <img src="/assets/no_messages_icon.png" alt="conversations icon">
		  <p class="font-weight-600 font-size-15">You have no messages.</p>
	  </div>
  <% end %>
  
  <% if current_user.mailbox.conversations.count > 0 %>
    <div class="dropdown-footer text-center">
      <%= link_to "View All", conversation_path(current_user.mailbox.conversations.last) %>
    </div><!-- /dropdown-footer -->
  <% end %>
</div><!-- /dropdown-container -->

