<h1> Comment </h1>

<h4>Reputation Needed: 50 </h4>
<hr>

<p>
  Comments can be left on problems or proofs. They can be voted on and 
	flagged. Users whose comment is voted on receive +1 reputation and -1 
	reputation for upvotes and downvotes respectively. If a comment receives a 
	voting score of -5, it will be taken down. There is no revision history for 
	comments, and when they are deleted they are gone permanently.
</p>

<p>
  Note that you can always comment on your own problems and proofs. However, 
	commenting on another user's post requires at least 30 reputation.
</p>

<h3>How do I comment?</h3>
<hr>

<p>
  To comment on a problem or proof click on the comments dropdown under the
	post in question to reveal a comment textarea input form. To reply to a 
	comment, click on the 'reply' link under the comment. Note that comments 
	do not use our text editor and so you cannot format comments as with other 
	types of posts. Math can still be rendered as usual with 
	<%= link_to "Mathjax", 
	            help_center_article_path(category: 'General', 
							                 article: 'How Do I Write Math On My Posts?'), 
															 class: "accentLink" %>.
  To preview the comment, simply click on the preview button in the textarea.
</p>

<h3>What happens after I comment?</h3>
<hr>

<p> The following users will be notified after commenting on a post: </p>

<ul>
  <li>The author of the post you are commenting on.</li>
  <li>Users who have edited the post you are commenting on.</li>
</ul>

<h3>When should I comment on a post?</h3>
<hr>

<p> The following are good reasons to comment on a post: </p>

<ul>
  <li>
	  To add relevant and minor details or information to a post 
		(e.g. a link to background information or further reading, 
		or a link to a related problem).
	</li>
  <li>
	  To clarify or request clarification on a post.
	</li>
  <li>
	  To provide constructive criticism to guide the author on 
		improving the post.
	</li>
</ul>

<h3>When should I not comment on a post?</h3>
<hr>

<p> The following are bad reasons to comment on a post: </p>

<ul>
  <li>
	  Proving a problem or offering an alternative solution; instead post a 
		proof or expand and edit an existing one.
	</li>
  <li>
	  Compliments that do not improve or add new information to the post. 
		Instead, show your appreciation of the post by upvoting it.
	</li>
  <li>
	  Secondary discussion or debate that is not relevant to the post.
	</li>
</ul>

