<h1> Create Problems and Proofs </h1>

<h4> Reputation Needed: <span class='ml-5'>0</span> </h4>
<hr>

<p> 
  Creating problems and writing proofs are available to everyone 
  regardless of reputation. 
</p>

<h3>Creating Problems</h3>
<hr>

<p>
  Make sure your problem is not a duplicate and is different from the rest. 
	<%= link_to "Search", problems_path, class: 'accentLink' %>, research and 
	keep track of what you find. You can link problems that have not helped 
	you so that others can better understand your question and make 
	sure it is not repeated.
</p>

<%= link_to "Learn More", 
  help_center_article_path(category: 'Problems', 
	                         article: 'How Do I Write A Good Problem?'), 
	                         class: "btn btn-ghost btn-small mb-15" %>

<h3>Writing proofs</h3>
<hr>

