<h1> Upvote </h1>

<h4>Reputation Needed: 10 </h4>
<hr>

<p>
  Voting up is an essential part of the the site's operating system. It lets 
	users know which posts are most useful, relevant and appropriate. 
</p>

<h3>When should I upvote?</h3>
<hr>

<p>
  You should upvote a post whenever you find a problem, proof or comment that 
	you feel is well written and especially useful.
</p>

<h3>How do I upvote?</h3>
<hr>

<p>
  Each problem, proof and comment contains an upvote (up arrow) and downvote 
	(down arrow) button. Simply click on the up arrow to upvote a post. You can 
	undo an upvote by clicking on the down arrow.
</p>

<h3>What happens after I upvote?</h3>
<hr>

<ul>
  <li>Problems move up in the feed when they are sorted by 'top'.</li>
	<li>Upvotes on a problem gives the author +5 reputation points.</li>
	<li>Upvotes on a proof gives the author +10 reputation points.</li>
	<li>Upvotes on a comment gives the author +1 reputation points.</li>
</ul>

<p>In general, upvoted posts are seen by more people.</p>

