<%= render 'reports/report_modal' if signed_in? %>

<div id="proof-versions-page" class="pt-100 section container blog-classic">
  <%= link_to problem_path(@proof.problem.id), class: "main-link", style: "font-weight: 600; font-size: 1.5em;" do %>
    <span class="glyphicon glyphicon-arrow-left mr-5"></span> Go to problem
  <% end %>
  <div class="row mt-20">
    <div class="col-md-12 mb-sm-160">
      <div class="col-md-12">
              
        <!-- FAQ Accordion -->
        <div class="panel-group accordions-1" id="faq-accordion-1" role="tablist" aria-multiselectable="true">
          <% @proof.versions.each_with_index do |version, index| %>
            <%= render partial: 'shared/items/version_item', locals: { model: version } %>
          <% end %>
        </div><!-- / .panel-group .accordion-1 -->
      </div><!-- / .col-md-12 -->
    </div><!-- / .col-md-8 -->
  </div><!-- / .row -->
</div><!-- / #problem-versions-page -->
