<!-- Version Post -->
<div class="blog-post-single  mb-0 wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
  <% if !version.problem_id.nil? %>
    <!-- Meta data -->
    <div class="post-meta" id="problem-tags-list">
      <ul class="tag-list mt-20">
        <% version.get_version_topics.each do |topic| %>
          <li><a href="<%= topic_path(topic.id)%>"><%= topic.name %></a></li>
        <% end %>
      </ul> <!-- / .tag-list -->
    </div><!-- / .meta -->
  <% end %>

  <!-- Title -->
  <h2 class="post-title font-weight-600 pt-20  mb-30 ls-2"><%= version.title %></h2>
  <div class="mb-20 mt-20 blog-post-content">
    <%= sanitize version.content %>
  </div>
</div><!-- / .blog-post-single -->

