<!-- ========== Comments ========== -->
<div class="col-lg-offset-2 col-lg-8 blog-post primary-card wow fadeIn activity_item mb-40" data-wow-delay=".1s" data-wow-duration="2s">
  <div class="bp-content" style="padding: 0;">

    <div class="post-meta">
      <div class="post-date float-left font-weight-500">
        <span class="no-transform" style="letter-spacing: normal;"> 
          <div class='meta_data_img'>
            <a href='<%=user_path(comment.user)%>'>
              <img src='<%=user_avatar_src(comment.user)%>'></img>
            </a>
          </div>
          <%#= activity.message %>   <%#=activity.created_at.strftime('%B %d, %Y')%>
        </span>
      </div>
      <div class="clearfix"></div>
    </div><!-- / .meta -->
    <div class="comment-content nice-text" style="margin-top: 15px;">
      <%= sanitize comment.content %>
    </div>
    <%#= link_to "Read More", activity.link, class: "btn btn-small" %>
    <div class="clearfix"></div>
  </div>
</div>
