.txtstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

.lbr {
  line-height: 3px;
}

.login-2 .form-content {
  border-bottom: none !important;
}

.login-2 .panel {
  margin-top: 0;
  border-radius: 0;
  border: none;
}

.login-2 .panel .panel-heading {
  background: #fff;
  padding: 30px 100px;
  border: none;
}

.login-2 .panel-heading .panel-title .collapsed {
  display: block;
  padding-bottom: 30px;
  color: #ccc;

  &:hover {
    color: #111;
  }
}

textarea.form-control {
  min-height: 120px;
}

/* trix textarea */
trix-editor {
  min-height: 10em;
}

.bootstrap-tagsinput .label-info {
  background-color: transparent;
}

.textAreaActions {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.18);
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  padding-bottom: 8px;
  padding-top: 8px;

}

.niceTextarea {
  //box-shadow: 0 1px 4px rgba(0,0,0,.03);
  background: #fff;
  border: 1px solid rgba(0,0,0,.18);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:hover, &:focus {
    border-color: rgba(28,153,99, 0.2);

    + .textAreaActions {
      outline: none;
      box-shadow: none;
      border-color: rgba(28,153,99, 0.2);
    }
  }
}
