.login-2 .form-content {
  border-bottom: none !important;
}

.login-2 .panel {
  margin-top: 0;
  border-radius: 0;
  border: none;
}

.login-2 .panel .panel-heading {
  background: #fff;
  padding: 30px 100px;
  border: none;
}

.login-2 .panel-heading .panel-title .collapsed {
  display: block;
  padding-bottom: 30px;
  color: #ccc;

  &:hover {
    color: #111;
  }
}


