.txtstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

.lbr {
  line-height: 3px;
}

.login-2 .form-content {
  border-bottom: none !important;
}

.login-2 .panel {
  margin-top: 0;
  border-radius: 0;
  border: none;
}

.login-2 .panel .panel-heading {
  background: #fff;
  padding: 30px 100px;
  border: none;
}

.login-2 .panel-heading .panel-title .collapsed {
  display: block;
  padding-bottom: 30px;
  color: #ccc;

  &:hover {
    color: #111;
  }
}

textarea.form-control {
  min-height: 120px;
}

/* trix textarea */
trix-editor {
  min-height: 10em;
}

.bootstrap-tagsinput .label-info {
  background-color: transparent;
}

.textAreaActions {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.18);
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  padding-bottom: 8px;
  padding-top: 8px;

}

.niceTextarea {
  //box-shadow: 0 1px 4px rgba(0,0,0,.03);
  background: #fff;
  border: 1px solid rgba(0,0,0,.18);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:hover, &:focus {
    //border-color: rgba(59, 185, 196, 0.66);

    + .textAreaActions {
      outline: none;
      box-shadow: none;
      //border-color: rgba(28,153,99, 0.2);
    }
  }
}

.form-group:hover .niceTextarea,
  .form-group:hover .textAreaActions {
  //border-color: rgba(59, 185, 196, 0.66);
}

.input-border-color {
  border-color: rgba(0,0,0,0.18) !important;
}

.input-focused {
  border-color: rgba(59, 185, 196, 0.86) !important;
}
/* --------------------------------------------------------------------
  New Problem 
  ------------------------------------------------------------------------*/

.problem-form-wrapper {
  padding-top: 40px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;

  .form-group {
    display: none;
  }
  
  h2 {
    font-size: calc(20px * 1.8);
  }
 
  .step-meta {
    margin-bottom: 60px;
    text-align:center !important;

    h2 {
      font-size: calc(20px * 1.8);
      margin-bottom: 30px !important;
      margin-top: 0 !important;
      color: rgba(0, 0, 0, 0.84) !important;
      fill: rgba(0, 0, 0, 0.84) !important;
      font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
    }

    p {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
    }

    .light-grey-card {
      margin-top: 25px;
    }
  }
  
  .form-nav {
    .btn-submit {
      display: none;
    }
  }
}



#review-step {
  .btn-next {
    display: none;
  }

  .preview-btn {
    margin-left: 10px;
  }

  .btn-submit {
    display: inline-block;
  }
}

/* ---------------------------------------------------------------------
  Edit Post
 ------------------------------------------------------------------------ */

.post-edit-form-wrapper {
  padding-top: 40px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;

  h2 {
    font-size: calc(20px * 1.8);
    margin-bottom: 30px !important;
    margin-top: 0 !important;
    color: rgba(0, 0, 0, 0.84) !important;
    fill: rgba(0, 0, 0, 0.84) !important;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  }

  .from-header h2 {
    &:after {
      content: ""; /* This is necessary for the pseudo element to work. */ 
      display: block; /* This will put the pseudo element on its own line. */
      width: 55px; /* Change this to whatever width you want. */
      padding-top: 14px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid rgba(0,0,0,0.84); /* This creates the border. Replace black with whatever color you want. */
    }
  }
}

/* -------------------------------------------------------------
  Error Handling
 ------------------------------------------------------------------*/

.has-error {
  border-color: $error-red !important;
}

.input-error {
  position: absolute;
  top: 50%;
  right: .7em;
  font-size: 20px;
  margin-top: -8.575px;
  color: $error-red;
}

.input-container {
  position: relative !important;
}

.input-error-msg {
  display: inline-block;
  margin-top: 2px;
  color: $error-red;
  font-size: 14px;
  font-weight: 500;
}

.trix-form-container-fullscreen .input-error-msg {
  padding-left: 30px !important;
}

.trix-form-container-fullscreen .input-error {
  padding-right: 30px !important;
}

.tags-tooltip {
  visibility: hidden;
  min-width: 200px;
  background-color: #fff;
  color: rgba(0,0,0,0.84);
  text-align: center;
  border-radius: 3px;
  padding: 14px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
}

.tooltip-arrow {
  left: 50%;
  top: 1px;
  clip: rect(0 18px 14px -4px);
  position: absolute;
  margin-left: -7px;

  &:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;

    -webkit-transform: rotate(45deg) translate(6px,6px);
    transform: rotate(45deg) translate(6px,6px);
    -webkit-box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
  }
}

#tags-input-container .ui-menu {
  font-family: $headerFont;
  padding-top: 0;

  .topic-label {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
  }
}

.changes-form-group textarea {
  min-height: 180px;
}

