.fancyDividerMargin {
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}

@media (max-width: 1260px) {
  .fancyDividerMargin {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
  }
}


@media (max-width: 636px) {
  .fancyDividerMargin {
    padding-left: 10.875rem;
    padding-right: 10.875rem;
  }
}

.marginAuto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-9 {
  margin-right: 9px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-18 {
  margin-right: 18px !important;
}


.mr-20 {
  margin-right: 20px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mt--10 {
  margin-top: -10px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-42 {
  margin-top: 42px !important;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-300 {
  margin-top: 300px;
}

.mt-400 {
  margin-top: 400px;
}

.mt-500 {
  margin-top: 500px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-250 {
  margin-bottom: 250px;
}

.mb-300 {
  margin-bottom: 300px;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-2 {
  margin-left: 3px !important;
}
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-30 {
  padding-right: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pv-5 {
  padding-top: 5px !important;
  padding-top: 5px !important;
}

.pv-6 {
  padding-bottom: 6px;
  padding-top: 6px;
}

.pv-10 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pv-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}


.pa-0 {
  padding: 0 !important;
}

.pa-2 {
  padding: 2px !important;
}

.pa-20 {
  padding: 20px;
}

.pa-32 {
  padding: 32px !important;
}

.ph-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.ph-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pa-20 {
  padding: 20px !important;
}

.pa-30 {
  padding: 30px !important;
}

.small-padding {
  padding: 6px 12px !important;
}

.no-gap {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
