/*****************************************
          ReportModal
******************************************/

#reportModal {
  .modal-content {
    padding: 2em;
  }

  .reportModalClose {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;

    &:before {
      position: absolute;
      content: "×";
      font-size: 40px;
      font-weight: normal;
      line-height: 80px;
      height: 80px;
      width: 80px;
      text-align: center;
      top: 3px;
      right: 3px;
      color: rgba(0, 0, 0, 0.54);
      font-family: Arial, sans-serif;
      content: "×";

      &:hover {
        color: rgba(0,0,0,0.64);
      }
    }
  }

  .modal-body {
    padding-top: 1em 0 0 0;
    margin-bottom: 0.5em;
  }

  h2, p, ul {
    font-family: "proxima-nova", "Helvetica Neue", sans-serif;
    color: #2F323C;
  }

  .modal-title {
    font-size: 2em;
    line-height: 1.3em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
 
  ul {
    -webkit-padding-start: 40px;
  }

  #report-form p {
    -webkit-margin-before: 0;
  }
}

#report-info-modal {
  .modal-body {
    padding: 0;
    overflow-y: auto;
    max-height: 450px;

    .report-meta {
      
    }

    .bg-overlay {
      width: 100%;
      background: #f8f8f8;

      .cta-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;

        .post-date {
          max-width: 100%;
        }

        h3 {
          margin-top: 0;
          margin-bottom: 25px;
          letter-spacing: 4px;
          color: #111;
          font-weight: 500;
        }
      }
    }
  }

  .modal-header {
    padding-left: 35px;
		padding-right: 35px;
    border-bottom: none;

		.close {
      font-size: 28px;
			margin-top: -6px;
			opacity: 0.4;
		}
	}

  .modal-title {
    line-height: 1;
		font-size: 25px;
		display: block;
	  margin-block-start: 0.1em;
    margin-block-end: 0.1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	  font-weight: 500;
		text-shadow: 1px 0.75px 0 rgba(0, 0, 0, 0.15), 2.25px 2px 0 rgba(0, 0, 0, 0.15);
		color: #424242;



		i {
			font-size: inherit;
		}
	}

  .nav-item {
    .nav-link {
      border-top: none;
      border-bottom: 2px solid transparent;
      letter-spacing: normal;
      text-transform: none;
      padding: .715rem 1.429rem;

      &:hover, &:active {
        border-color: #bdbdbd;
        color: #bdbdbd;
      }
    }
  }

  .nav-tabs {
    border-top: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .nav li.active {
    .nav-link {
      border-top: none !important;
      border-bottom: 2px solid #111 !important;
      color: #111 !important;
    } 
  }

  .post-meta {
    line-height: 1;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 30px;
  }

  .section {
    width: 85%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ft-steps-numbers {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .ft-steps-numbers .ft-item {
    min-height: 175px;
    margin-bottom: 30px;

    .ft-nbr {
      font-size: 120px;
    }

    h4 {
      padding-left: 50px;
    }

    p {
      padding-left: 50px;
    }
  }

  .ft-material {
    .ft-material-span {
      width: 80px;
      height: 80px;
      font-size: 32.727px;
      line-height: 79.27px;
    }

    h5 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    p {
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  .modal-footer {

    .report-actions {
      float: left;

      .fa {
        color: #222;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        width: 28px;
        text-align: center;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }

      .get-action .fa {
        background: #777;
        border-color: #777 !important;
        color: #fff !important;
      }

      .danger-action .fa {
        background: #f4516c;
        border-color: #f4516c !important;
        color: #fff !important;
      }

      .warning-action .fa {
        background: #ff9966;
        border-color: #ff9966 !important;
        color: #fff !important;
      }

      .success-action .fa {
        background: #1d9d74;
        border-color: #1d9d74 !important;
        color: #fff !important;
      }

      .put-action .fa {
        background: #111;
        border-color: #111 !important;
        color: #fff !important;
      }
    }

    button {
      font-size: 0.7em;
      text-transform: none;
      letter-spacing: normal;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  @media (min-width: 928px) {
    .modal-dialog {
      width: 55%;
    }
  }


  @media (min-width: 850px) {
    .modal-body {
      max-height: 600px;
    }
  }

  @media (min-width: 1200px) {
    .modal-body {
      max-height: 680px;
    }
  }
}

/* -----------------------------------------------------------------
 Priviliges Modal
  ----------------------------------------------------------------*/

#noPriviligeModal {
  .modal-content .close {
    position: absolute;
    opacity: 0.7;
    right: 10px;
    top: 5px;
    font-size: 35px;
 
    &:hover {
      opacity: 1;
    }
  }
}

#reportModal {
  .modal-header {
    border-bottom: none;

    .close {
      opacity: 0.7;
      font-size: 32px;
      margin-top: -5px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-body {
    padding: 0 40px;

    .spam {
      margin-top: 0;
    }

    .checkbox {
      label {
        font-weight: bold;
        font-size: 1.2em;

        input {
          margin-left: -25px;
          margin-top: 7px;
        }
      }

      p {
        font-weight: 500;
        color: rgba(0,0,0,0.64);
        padding-left: 20px;
        
      }
    }
  }
}

