.nav-border {
  border-color: rgba(20, 94, 101, 0.12) transparent #eee transparent;
  border-style: solid;
  border-width: 4px 0 1px;
  //background: 0 4px 12px 0 rgba(0, 0, 0, 0.05)
}

#sticky-nav {
  overflow: hidden;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10000;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}

#sticky-nav a {
  float: left;
  display: block;
  color: rgba(0,0,0,0.54);
  text-align: center;
  margin-left: 24px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

#sticky-nav .sticky-nav-items > :first-child {
  margin-left: 0;
}

#sticky-nav a:hover {
  color: rgba(0,0,0,0.68);
}

#sticky-nav .is-active {
  color: rgba(0,0,0,0.84);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15) !important;
}

#sticky-nav .sticky-nav-items {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
}

#sticky-nav .sticky-nav-items::-webkit-scrollbar {
  display: none;
}

