.round-thumb {
	border-radius: 50%;
	float: left;
}

.username-feed {
	color: #262626;
	font-weight: 600;
	font-size: 14px;
	padding-left: 15px;
}


/* problems#index */

.problem-desc {
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dedede;
}

.problem-details, .problem-done, .problem-date, .problem-view, .problem-comment {
  float: left;
}

.problem-answered-done {
  color: #318e08;
}

.problem-date, .problem-view, .problem-comment {
  color: #2F323C;
}

.problem-date, .problem-comment, .problem-answered {
  margin: 0 20px 0 0;
  display: block;
}

.problem-answered {
  float: left;
  font-weight: bold;
}

.problem-view {
  margin-right: 0;
}


.single-problem-vote-result {
  float: right;
}

.problem-vote-result, .single-problem-vote-result {
  font-size: 13px;
  color: #2f3239;
}

.single-problem-vote > li:first-child a {
    margin-right: 10px;
}

.single-problem-vote-up, .single-problem-vote-down {
    background-color: #eee;
    color: #666;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    font-size: 13px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}

.single-problem-vote {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: inline;

  li {
    display: inline;
    float: left;
  }
}

.single-problem-vote-up:hover {
  color: #fff;
  background: #33833A;
}

.single-problem-vote-down:hover {
  color: #fff;
  background: #ff7361;
}

.voting-meta {
  float: right;
}

.blog-post .bp-content .tag-list, .blog-post-single .tag-list {
  padding: 0;
  margin: 0;

  li  {
    list-style: none;
    display: inline-block;

    a {
      display: block;
      padding: 0 10px;
      margin-bottom: 5px;
      border: 1px solid #999;
      font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
      color: #666;
      transition: all .5s;
      font-weight: 300;
      line-height: 1.8em;
      margin-top: 0;
      font-size: 0.85em;
      letter-spacing: 2px;
      text-transform: lowercase;
    }
  }
}

/********************

  NEW PROBLEM

********************/

.author-img img {
    display: block;
    float: left;
    width: 65px;
    height: 65px;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



.page-content  {
  overflow: hidden;
  height: 100%;
}

@media (min-width: 992px) {
  .page-content {  
    padding: 20px;
  }
}

.page-content .boxedtitle {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  position: relative;
  margin-bottom: 10px;
}

.page-content .boxedtitle, .post-box .boxedtitle {
  margin: -20px -20px 20px;
}

.page-content .boxedtitle {
  margin-bottom: 20px;
  padding-left: 20px;
  border-bottom: 0;
}

.page-content .boxedtitle h2 {
  padding: 20px 0 10px;
  margin: 0 20px 20px 0;
  border-bottom: 2px solid #dedede;
  font-size: 20px;
  font-weight: bold;
}

.page-content p {
  font-size: 13px;
  font-weight: normal;
}

#problem-submit .form-inputs p {
  margin-bottom: 30px;
}

.form-style-3 .form-inputs p {
  width: 100% !important;
  margin-right: 0;
  float: none;
}

.form-inputs p {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
  height: 100%;
}

.add-problem .form-style label {
    float: left;
    width: 17%;
    margin-right: 1%;
    margin-top: 9px;
}


.form-style-3 label, .form-style-4 label {
  margin-top: 0;
}

.form-style label {
  color: #2f3239;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 9px;
}

@media (min-width: 1200px) {
  .add-problem .form-style label {
    width: 17%;
  }
}

.form-style label.required span {
    margin-left: 3px;
    color: #F00;
}

.form-style p span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  color: #848991;
}

#problem-title {
  float: left;
  width: 82%;
}

.form-style input, .form-style textarea {
  display: block;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.add-problem .form-description {
  width: 80%;
  display: inline-block;
}

.form-style p span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  color: #848991;
}

.form-description {
  margin-left: 18%;
}

.tag {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  color: #999;
  transition: all .5s;
  font-weight: 300;
  line-height: 1.8em;
  margin-top: 0; 
  font-size: 0.85em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.bootstrap-tagsinput .dropdown-menu, .typeahead {
  position: inherit !important;
  width: 100% !important;

  li a {
    &:hover {
      padding-left: 35px;
      padding-right: 30px;
      background: rgba(17, 17, 17, 0.05);
      border-left: 3px solid #111;
      color: #111;
    }
  }

  .active a:focus, .active a {
    padding-left: 35px;
    padding-right: 30px;
    background: rgba(17, 17, 17, 0.05);
    border-left: 3px solid #111;
    color: #111;
  }

}

.vote-container {
	.glyphicon {
		cursor: pointer;
		font-weight: 800;
		display: block;
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
		font-size: 16px;
		color: #333;
	}

	span {
		display: block;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
    font-size: 16px;
	}


	a {
		.glyphicon:hover {
			//color: #9c6283;
		}
	}
}

.vote-container-post {
	padding-left: 0;
	padding-right: 0;
	vertical-align: middle;
	float: left;
	margin-top: -15px;
  margin-right: 20px;
}

.bp-comment .vote-container {
  display: inline-block;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}


.blog-post-comments .bp-comment .comment-content, .blog-post-comments .bp-comment-reply .comment-content {
  padding-bottom: 0px;
  border-bottom: none;
}

.bp-comment, .bp-comment-reply {
  padding-bottom: 20px;
}

.bp-comment {
  .btn-small {
    line-height: 1em;
    padding: 5px 20px;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
}


@media (max-width: 1200px) {
  .blog-post-comments .bp-comment-reply .comment-info {
    margin-left: 90px;
    margin-top: -40px;
    vertical-align: text-top;
  }

  .blog-post-comments .bp-comment-reply .comment-content {
    
  }

  .bp-comment-reply .vote-container {
    margin-top: -60px;
  }
}


@media (max-width: 992px) {
  .bp-comment .vote-container {
    margin-top: -20px;
  }

  .blog-post-comments .bp-comment-reply .vote-container {
    margin-top: 10px;
  }

  .blog-post-comments .bp-comment-reply {
    margin-left: 45px;
  }

  .blog-post-comments .bp-comment-reply .comment-info {
    margin-left: 30px;
  }
}

@media (max-width: 414px) {
  .blog-post-comments .bp-comment-reply .comment-info {
    margin-left: 90px;
  }
}

@media (max-width: 383px) {
  .blog-post-comments .bp-comment .comment-info {
    /*margin-left: 90px;*/
  }

  .bp-comment .vote-container {
    /*margin-top: -60px;*/
  }

}

@media (max-width: 378px) {
  .bp-comment .vote-container {
    /*margin-top: -80px;*/
  }
}

@media (max-width: 370px) {
  .blog-post-comments .bp-comment-reply .vote-container {
    margin-top: -20px;
  }
}


.proof-remove {
  color: #a94442;
}

.bp-comment-reply, .bp-comment {
  min-height: 134px;
}
