body {
  background: #fafafa;
  color: #222;
}

.btn-xs {
  font-size: 0.60em;
}

.white-bg {
  background: white;
}

.main-link {
  color: #666;
  &:hover {
   color: #555;
  }
}

.grey-link {
  color: #999;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(17, 17, 17, 0);
  transition: all .3s;
}

.username-link {
  color: #333;
  &:hover {
    color: #333;
    opacity: 0.8;
  }
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}


.font-weight-600 {
  font-weight: 600 !important;
}

.bold {
  font-weight: bold;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clearfix {
  clear: both;
}

.normal-spacing {
  letter-spacing: normal;
}

.inline-icon {
  height: 1.5em;
	width: 1.5em;
	vertical-align: middle;
}

/* autocomplete */

.ui-menu {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	min-width: 250px;
  margin-top: 12px;
	border: 1px solid $light;
	border-radius: 0;
	box-shadow: none;
  padding-top: 10px;
  padding-bottom: 0px;

  li {
    a {
      padding: 8px 16px !important;
      width: 100%;
      height: 100%;
      display: block;
						padding: $dropdown-link-padding;
						letter-spacing: $dropdown-link-letter-spacing;
						line-height: $dropdown-link-line-height;
						border-left: 3px solid rgba(17,17,17, 0);
						transition: all .3s;

						
						i {
							padding-right: 5px;
						}

    }
  }


}


.ui-menu .ui-state-active {
    padding-left: $dropdown-link-shift !important;
		padding-right: 30px !important;
	  background: $dropdown-link-background !important;
    outline: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: 3px solid #000 !important;
    color: #333 !important;
}


.ui-menu-item {
  text-overflow: ellipsis;
}


.ui-autocomplete-category {
	padding: 8px 16px;
	text-transform: uppercase;
	font-weight: 600;
}


/*
.ui-menu-item:active {
  border-left: 3px solid #e7e7e7 !important;
}

.ui-menu-item:focus {
  border-left: #e7e7e7 !important;
}
*/
.Users-cat {
	color: #4691FD;
}

.Problems-cat {
	color: #1BA951;
}

.Topics-cat {
  color: #ff4c4c;
}

.topic-label {
  text-transform: capitalize;
}



/* navbar */

@media (max-width: 1259px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .dropdown-menu {
    right: auto !important;
  }
}

@media (min-width: 1260px) {
  .navbar-nav>li {
    /*float: left !important;*/
  }
}

/* Sidebar */

.stats-widget ul, .highest-points-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats-widget ul li {
  color: #2f3239;
  font-size: 14px;
  font-weight: bold;
  background-color: #eaeaeb;
  margin-bottom: 10px;
  padding: 10px !important;
}

.stats-widget ul li, .highest-points-widget ul li {
  position: relative;
  overflow: hidden;
}

.circle-icon {
  background: #2f3239;
  color: #fff;
  width: 23px;
  height: 23px;
  
  text-align: center;
  line-height: 23px;
  vertical-align: middle;
}

.author-container {
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.highest-points-widget ul li {
  padding-bottom: 15px;
}

.author-img {
  float: left;
  display: block;
  overflow: hidden;
  width: 71px;
  height: 71px;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.highest-points-widget ul li h6, .author-container h6 {

  a {
   color: #111;
  }

  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 5px;
  font-weight: bold;

}


.highest-points-widget .comment, .author-container, .author-data {
  padding: 0;
  border-bottom: 0;
  color: #2f3239;
  font-size: 13px;
}

/* Toastr */

.toast-top-left {
  margin-top: 75px !important;
}

/* votes */

.upvoted {
  color: #318e08 !important;
}

.downvoted {
  color: #FF8B60 !important;
}

.blog-post-content img, .comment-content img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  clear: both;
}

.truncate-75 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.truncate-150 {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: calc(13px*1.5625 * 3);
  margin: 0 auto;
  white-space: nowrap;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .navbar-nav li a:focus {
  color: inherit;
  text-decoration: none;
  outline:  none;
}


.no-results-container {
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(27,31,35,0.05);
  padding: 80px 40px;


	text-align: center;
	margin-bottom: 20px;
	img {
		text-align: center;
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;
    width: 75px;
    height: auto;
	}
}

.primary-card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
}

.primary-shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.no-transform {
  text-transform: none !important;
}

.post-date {
  max-width: calc(100% - 80px);
  a {
    color: inherit;
    font-weight: 600;
  }
}

.post-meta .label {
  margin-left: 10px;
}

.meta_data_img {
  float: left;
  display: block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 5px;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  img {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}

#account-edit .avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/* ---------------------------------------------------------
 Loader (Spinner)
  --------------------------------------------------------*/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #aaa;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media (max-width: 1200px) {
  .btn-mult {
    width: 100%;
    margin-top: 3px;
    margin-right: 0 !important;
  }
}

.tags-widget .tag-list li a, .tags-widget .tag-list-container .tag {
  margin: 2px 2px 2px 0;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  margin-bottom: .5em;
  padding: .4em .5em;
  line-height: 1;
  text-transform: lowercase;
  font-size: 12px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
  border: 1px solid #999;
  color: #666;
  transition: all .5s;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    border-color: #777;
    color: #111;
  }

}


.hot-topics-widget ul li:first-child {
  padding-top: 0;
}

.hot-topics-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hot-topics-widget .hot-topic-item {
  padding: 0;
  margin-bottom: 20px;
  border: 0;
  margin: 0;
  float: left;
  width: 100%;
  padding: 10px 0;
  line-height: 20px;
  font-family: Questrial;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
  position: relative;

  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    background: #00B9C0;
    display: block;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    transition: all 0.2s ease;
    font: 900 14px Lato;
    margin-right: 5px;
  }

  span {
    width: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 11px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 5px;
    line-height: 10px;

    text-transform: uppercase;
    font-family: Lato;
    float: left;
  }
}

.ft-boxed-hover .hover-content {
  padding: 0px;
  //background-image: url("/assets/backgrounds/blackboard-header1.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .8);
  }
}

/* --------------------------------------------------
  Headers
 ----------------------------------------------------*/
.page-title {

  #search-header {

    .form-group {
      position: relative;
    }
  }

  .inside-input-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    right: 20px;
    background: none;
    border: none;
    font-size: 18px;
    color: #ccc;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;

    &:hover {
      color: #111;
    }
  }
}

.text-left {
  text-align: left !important;
}

.align-self-center {
  align-self: center!important;
}

.stat-card {
  transition: all .25s ease;
  margin-bottom: 1.875rem;
  border: none;
  -webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
  box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.06);
  border-radius: .35rem;
  background-color: #fff;

  .stat-card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
  }

  .d-flex {
    display: flex !important;
    align-items: flex-start;

    .d-flex-body { 
       -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
}

.pull-up {
  &:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
    box-shadow: 0 14px 24px rgba(62,57,107,.2);
    z-index: 999;
  }
}
