.border-bottom {
  border-bottom: 1px solid #dedede;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}


.font-weight-600 {
  font-weight: 600 !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clearfix {
  clear: both;
}

/* navbar */

@media (max-width: 1259px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .dropdown-menu {
    right: auto !important;
  }
}

@media (min-width: 1260px) {
  .navbar-nav>li {
    /*float: left !important;*/
  }
}

/* Sidebar */

.stats-widget ul, .highest-points-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats-widget ul li {
  color: #2f3239;
  font-size: 14px;
  font-weight: bold;
  background-color: #eaeaeb;
  margin-bottom: 10px;
  padding: 10px !important;
}

.stats-widget ul li, .highest-points-widget ul li {
  position: relative;
  overflow: hidden;
}

.circle-icon {
  background: #2f3239;
  color: #fff;
  width: 23px;
  height: 23px;
  
  text-align: center;
  line-height: 23px;
  vertical-align: middle;
}

.highest-points-widget ul li {
  padding-bottom: 15px;
}

.author-img {
  float: left;
  display: block;
  overflow: hidden;
  width: 71px;
  height: 71px;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.highest-points-widget ul li h6 {

  a {
   color: #111 !important;
  }

  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 5px;
  font-weight: bold;

}


.highest-points-widget .comment {
  padding: 0;
  border-bottom: 0;
  color: #2f3239;
  font-size: 13px;
}

/* Toastr */

.toast-top-left {
  margin-top: 75px !important;
}

/* votes */

.upvoted {
  color: #318e08 !important;
}

.downvoted {
  color: #FF8B60 !important;
}

.blog-post-content img, .comment-content img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  clear: both;
}

.truncate-75 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.navbar .navbar-nav li a:focus {
  color: inherit;
  text-decoration: none;
  outline:  none;
}


.no-results-container {
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(27,31,35,0.05);
  padding: 80px 40px;


	text-align: center;
	margin-bottom: 20px;
	img {
		text-align: center;
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;
    width: 75px;
    height: auto;
	}
}

