.border-bottom {
  border-bottom: 1px solid #dedede;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}


.font-weight-600 {
  font-weight: 600 !important;
}

.float-left {
  float: left !important;
}

.clearfix {
  clear: both;
}
