@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-16px); }
  60% {
    -webkit-transform: translateY(-7px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px); }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px); } }

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce; }

#forkongithub a {
  background: #990033;
  color: #fff; }

.taggle_list {
  float: left;
  width: 100%; }

.taggle_input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300; }

.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px; }

.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.taggle_list .taggle_hot {
  background: #cac8c4; }

.taggle_list .taggle .close {
  font-size: inherit;
  //position: absolute;
  //top: 5px;
  //right: 3px;
  text-decoration: none;
  padding-left: 2px;
  //padding-top: 3px;
  //line-height: 0.5;
  color: inherit;
  //color: rgba(0, 0, 0, 0.2);
  //padding-bottom: 4px;
  //display: none;
  //border: 0;
  //background: none;
  cursor: pointer; }

.taggle_list .taggle:hover {
  //padding: 5px;
  //padding-right: 15px;
  //background: #ccc;
  //-webkit-transition: all .3s;
  //transition: all .3s;
}

.taggle_list .taggle:hover > .close {
  //display: block;
}

.taggle_list .taggle .close:hover {
  //color: #990033;
}

.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 8px;
  -webkit-transition: opacity, .25s;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%; }

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden; }

/*container styles*/

#tags-input-container {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #fff;
  background-image: none;

  min-height: 40px;
  height: auto;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  line-height: 22px;
  letter-spacing: .5px;
  transition: border-color .5s;

  position: relative;
  cursor: text;

  &:hover, &:focus {
    outline: none;
    box-shadow: none;
    border-color: #777;
  }

  &:before {
    display: block;
    content: "";
    line-height: 0;
    clear: both;
  }

  &:after {
    display: block;
    content: "";
    line-height: 0;
    clear: both;
  }

  .taggle_placeholder {
    left: 20px;
    font-size: 16px;
    top: 13px;
  }

  .taggle_list {
    padding-left: 0;
    margin: 0;
    min-height: 28px;

    li {
      margin-bottom: 3px;
      margin-top: 3px;
      height: 28px;      

      .taggle_input {
        margin: 0;
        padding: 0;
        float: none;
        height: 28px;
      }
    }

    .taggle {
      background: #f4f6f8;
      cursor: text !important;

      .taggle_text {
        font-size: 15px;
        color: rgba(0,0,0,0.64);
        text-transform: capitalize;
      }

      .close {
         font-size: 15px !important;
         color: rgba(0,0,0,0.64) !important;
         padding-left: 6px !important;
         cursor: pointer !important;
         line-height: inherit !important;
         opacity: 0.8 !important;
         
         &:hover {
           color: rgba(0,0,0,0.84) !important;
         }
      }   
    }
  }
}
