#topic-page {
  .tab-top h1, .tab-top .fa {
    font-weight: 600;
    font-size: 1.2em;
  }

  @media (max-width: 1506px) {
    .tab-top h1, .tab-top .fa {
      font-size: 0.9em;
    }
  }

  @media (max-width: 1199px) {
    .tab-top h1, .tab-top .fa {
      font-size: 1.3em;
    }
  }
}

.topic-feature {
  margin-bottom: 40px;
}

.topic-feature-image {
  height: 360px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
}

.topic-sidebar {
  margin-left: 46px;

  
}
