#topic-page {
  .tab-top h1, .tab-top .fa {
    font-weight: 600;
    font-size: 1.2em;
  }

  @media (max-width: 1506px) {
    .tab-top h1, .tab-top .fa {
      font-size: 0.9em;
    }
  }

  @media (max-width: 1199px) {
    .tab-top h1, .tab-top .fa {
      font-size: 1.3em;
    }
  }
}
