.fontSize-12 {
  font-size: 12px !important;
}

.fontSize-13 {
  font-size: 13px !important;
}

.fontSize-14 {
  font-size: 14px !important;
}

.fontSize-15 {
  font-size: 15px !important;
}

.fontSize-16 {
  font-size: 16px !important;
}

.fontSize-18 {
  font-size: 18px !important;
}

.fontSize-20 {
  font-size: 20px !important;
}

.fontSize-22 {
  font-size: 22px !important;
}

.fontSize-24 {
  font-size: 24px !important;
}

.fontSize-26 {
  font-size: 26px !important;
}

.fontSize-28 {
  font-size: 28px !important;
}

.fontSize-30 {
  font-size: 30px !important;
}

.fontWeight-400 {
  font-weight: 400 !important;
}


.fontWeight-500 {
  font-weight: 500 !important;
}

.fontWeight-600 {
  font-weight: 600 !important;
}


.fontWeight-700 {
  font-weight: 700 !important;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #eceeef;
}

code {
  color: rgba(0,0,0,0.84);
  background: #f1f1f1;
}

.reg-p, .reg-item {
  font-size: 13px;
  font-weight: normal;
  color: #2F323C;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 15px;
}

.tags {
  font-size: 15px;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 400;
  text-decoration: none;

  li {
    border: none;
    color: rgba(0,0,0,.68);
    background: rgba(0,0,0,.05);

    border-radius: 3px;
    padding: 5px 10px;

    margin-right: 8px;
    margin-bottom: 8px;

    display: inline-block;
  }
}


.arial-ff {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
}

.headerFont {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}

.bodyFont {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}

p, .bodyStyles {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.darkType {
  color: rgba(0,0,0,.84)!important;
  fill: rgba(0,0,0,.84)!important;
}

.color-dark-74 {
  color: rgba(0,0,0,0.74) !important;
}

.color-dark-64 {
  color: rgba(0,0,0,0.64) !important;
}

.lightType {
  color: rgba(0,0,0,.54) !important;
}

.lh-1 {
  line-height: 1em !important;
}

.lh-1-1 {
  line-height: 1.1em !important;
}

.lh-1-2 {
  line-height: 1.2em !important;
}

.lh-4 {
  line-height: 1.4em !important;
}

.lh-1-5 {
  line-height: 1.5em !important;
}

.lh-1-6 {
  line-height: 1.6em !important;
}

.lh-1-66 {
  line-height: 1.66em !important;
}

.lh-1-8 {
  line-height: 1.8em !important;
}


.darkTypeOnHover {
  &:hover {
    color: rgba(0,0,0,.84)!important;
    fill: rgba(0,0,0,.84)!important;
  }
}

.underlineLink {
  &:hover {
    text-decoration: underline !important;
    color: inherit;
  }

  &:focus {
    text-decoration: underline !important;
    color: inherit;
  }
}


.greyLink, .grayLink {
  color: rgba(0,0,0,0.54);
  cursor: pointer;

  &:hover {
    color: rgba(0,0,0,0.68);
    text-decoration: none;
  }

  &:focus {
    color: rgba(0,0,0,0.68);
    text-decoration: none;
  }
}

.greyLinkDark {
  
}

.bodyLink {
  color: $accent;
  text-decoration: underline;

  &:hover {
    color: $accent;
    text-decoration:underline;
    opacity: 0.8;
  }

  &:focus {
    color: $accent;
    text-decoration: underline;
  }

}

.lightGreyLink, .lightGrayLink {
  color: rgba(0,0,0,0.36);
  cursor: pointer;

  &:hover {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
  }

  &:focus {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
  }
}

.accentLink {
  color: $accent-dark;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $accent;
    text-decoration: underline;
  }

  &:focus {
    color: $accent;
    text-decoration: none;
  }

}

code {
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(17, 17, 17, 0.05);
  color: #111;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 0 10px;
  text-transform: none;
  color: rgba(0,0,0,0.84);
}

h1 {
  font-weight: 500;
  font-size: 2.5em;
}

h2 {
  font-weight: 400;
  font-size: 2em;
}

h3 {
  font-weight: 300;
  font-size: 1.8em;
}

.btn-xs {
  padding: 8px 18px;
  font-size: 11px;
  line-height: 1em;
}

.btn-success {
  color: rgba(255, 255, 255, 0.97);
  background: #1C9963;

  &:hover {
    background: rgba(0,0,0,0.84);
  }
}

.author-link {
  color: rgba(0,0,0,.84);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
}

.no-wrap {
  white-space: nowrap;
}

.author-caption {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0,0,0,.54);
  letter-spacing: -.3px;

  .time {
    
  }

  .views {
    
  }
}

.dot-sep {
  padding-right: .3em;
  padding-left: .3em;
  font-size: inherit;
}

.header-h1 {
  color: rgba(0,0,0,.84) !important;
  font-size: 50px;
  font-weight: 600;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 64px;
  letter-spacing: 0;
  margin-bottom: 16px;
}

.header-link-1 {
  &:focus {
    text-decoration: none;
  }
}

.featured-caption {
  p {
    font-family: "Oswald", "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: rgba(0,0,0,.54);
    padding-left: 5px;
  }
}

.problem-info {
  color: #2F323C; font-family: "Helvetica Neue",Arial,sans-serif; font-weight: 300; line-height: 1.5625; margin-bottom: 15px;
}

.nice-text {
  font-size: 13px;
  color: #2F323C;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 15px;
}


.font-weight-normal {
  font-weight: normal;
}

/* flash messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
		list-style-position: inside;
		li {
			color: red;
			list-style-type: inherit;
		}
  }
}

.logo-title {
  font-weight: 800;
  color: #fff;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.font-size-16 {
  font-size: 16px;
}

.decimal-item {
  list-style-type: decimal !important;
}

/********************* Help Center ***********************/

.help-center-article {
  p, h3, li {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    color: rgba(0,0,0,0.84);
    margin: 0 0 calc(16px * 1.4);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  li {
    list-style-type: circle;
  }

  p, li {
    font-size: 20px;
    line-height: 1.58;
    font-weight: 400
  }

  h1 {
    margin-bottom: 40px;
    font-size: calc(20px * 2.1);
  }

  h3 {
    font-size: calc(20px * 1.5);
    font-weight: 500;
    line-height: 1.2;
  }

  h4 {
    font-size: calc(20px * 1.2);
    font-weight: 500;
    line-height: 1.2;
  }
}
