<div class='form-group' style='margin-top: 20px;'>
  <%= label_tag "This #{resource.class.name.downcase} has one or more pending reports. Would you like to close a report? *" %>
  <div class="radio">
    <label><input type="radio" name="optradio">Yes</label>
  </div> 

  <div class="radio">
    <label><input type="radio" name="optradio">No</label>
  </div> 
</div>

