<ul>
  <% @flags.each do |flag| %>
    <li class='headerFont darkType' style="font-size: 16px; list-style-type: disc !important;"><%= flag.name %></li>
    <% if flag.name == "other" %>
      <p><%= @report.reason %></p>
    <% end %>
  <% end %>
</ul>
 <p class="mt-10 headerFont darkType fontSize-16 mb-15">Would you like to retract your report?</p>
 <%= link_to "Retract", report_path(@report.id), method: :put, class: "btn btn-padding-small mt-15 mr-5 mb-5", remote: true %>

<span class="greyLink btn-styles pv-6 mb-5 btn-mult ml-10 mt-15 btn-padding-small ph-0" data-dismiss="modal">Cancel</span>
<div class='clearfix'></div>

