<div id="reportModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="reportModalClose" data-dismiss="modal"></div> 
      <div class="modal-body">
        <h2 class="modal-title headerFont darkType fontWeight-600 fontSize-22"></h2>
        <div class="modal-substance">

        </div>
      </div>
    </div>
  </div>
</div>
