<% if @flag_error.empty? %>
  <% if @report.errors.any? %>
    $('#reportModal #report-form #error_explanation').remove();
    $('#reportModal #report-form').prepend("<%= error_message(@report.errors.full_messages.first) %>");
  <% else %>
     $('#reportModal').modal('toggle');

    $('#flash-message-wrapper').remove();
    $('body').append("<div id='flash-message-wrapper' class='notice '><p><%= @report.reportable_type %> has been reported.</p></div>");

    setTimeout(function() {
      $('#flash-message-wrapper').fadeOut("slow", function() {
        $(this).remove();
      });
    }, 5000);

  <% end %>
<% else %>
  $('#reportModal #report-form #error_explanation').remove();
  $('#reportModal  #report-form').prepend("<%= escape_javascript render(:partial => '/shared/error_messages', :locals => { :@error => @flag_error }) %>");
<% end %>
