$('#reportModal').modal('toggle');

$('#flash-message-wrapper').remove();
$('body').append("<div id='flash-message-wrapper' class='notice '><p>Report has been closed.</p></div>");

setTimeout(function() {
  $('#flash-message-wrapper').fadeOut("slow", function() {
    $(this).remove();
  });
}, 5000);

