<header id='fancyHeader' style='<%=fancy_header_styles%>'>
  <div class="fancyHeaderCover">
    <div class="fancyHeaderLeft">
		  <div class='fancyHeaderLeftContainer'>
			  <%= fancy_header_left_content%>
      </div>
    </div>

    <div class="fancyHeaderRight <%=fancy_header_right_class%>"></div>
	</div>

<!--
	<div class="sectionDivider"></div>
-->
</header>
