<header id='featured-header'>
  <div class="featured-cover">
    <div class="featured-left">
		  <div class='featured-left-container'>
			  <div class='featured-caption'>
          <p>Featured Problem</p>
				</div>
			  <%= link_to problems_path(Problem.featured.id), class: 'header-link-1' do %>
          <h1 class='header-h1'>
				    <%= Problem.featured.title %>
			    </h1>
				<% end %>
        <div class="author-container" style='margin-top: 20px;'>
				  <div class="author-img">
				    <a href="/users/6"><img width="60" height="60" src="https://2code.info/demo/html/ask-me/images/demo/admin.jpeg" alt=""></a>
				  </div>
					<a class='author-link' href="/users/6">shemar</a>
					<div class='author-caption'>
            <span class="time no-wrap"><%= time_ago_in_words(Problem.featured.created_at) %> ago</span>
						<span class='dot-sep'>&middot;</span>
            <span class='views no-wrap'><%=pluralize(Problem.featured.impressionist_count, "view")%></span>
					</div>
				  <!--<span class="label" style="font-weight: 600; background: #373940;"><i class="mr-5 fa fa-trophy"></i>8</span>-->
				</div>
			</div>
    </div>

    <div class="featured-right">
    </div>
	</div>
	<div class="featured-divider"></div>
</header>

