<!-- ========== Footer Litle ========== -->
<footer class="footer-litle">
  <!-- Social Links -->
  <div class="dark-bg">
    <div class="container footer-social-links">
      <div class="row">
                
        <ul>
          <li><%= link_to "About Us", static_pages_about_path %></li>
          <li><a href="https://github.com/raguila8/lets_prove_it">Github</a></li>
          <li><a href="#">facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><%= link_to "Contact Us", static_pages_contact_path %></li>
        </ul>

      </div>
    </div><!-- / .container -->
  </div><!-- / .dark-bg -->


  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
                
        <div class="col-md-6">
          <small>&copy; 2018 MathProofs. <a class="no-style-link" href="www.rodrigojaguilar.com" target="_blank">Rodrigo J Aguilar</a></small>
        </div>

        <div class="col-md-6">
          <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
        </div>

      </div><!-- / .row -->
    </div><!-- / .container -->
  </div><!-- / .copyright -->
</footer><!-- / .footer-litle -->

