<!-- ========== Footer Litle ========== -->
<footer class="footer-litle">
  <!-- Social Links -->
  <div class="dark-bg">
    <div class="container footer-social-links">
      <div class="row">
                
        <ul class='footer-links' style="padding-bottom: 15px;">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Tour", tour_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
        </ul>

      </div>
      <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
          <ul class="social-links" id="main-footer-social-links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/raguila8/lets_prove_it"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div><!-- / .container -->
  </div><!-- / .dark-bg -->


  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
                
        <div class="col-md-6">
          <small>&copy; 2018 MathProofs. <a class="no-style-link" href="//www.rodrigojaguilar.com" target="_blank">Rodrigo J Aguilar</a></small>
        </div>

        <div class="col-md-6">
          <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
        </div>

      </div><!-- / .row -->
    </div><!-- / .container -->
  </div><!-- / .copyright -->
</footer><!-- / .footer-litle -->

