
<!-- ========== Header/Page Title - Medium Light Parallax ========== -->

<header class="page-title pt-dark pt-plax-md-dark" data-stellar-background-ratio="0.4">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h1><%= page_title %></h1>
          <span class="subheading"><%= page_subheading %></span>
        </div>
        <div class="col-sm-6 text-right breadcrumb">
          <%= right_heading_content %>
        </div>

      </div>
    </div>
  </div>
</header>

